
<body>

 <!--  APPOINTMENT SECTION -->

     <section class="section-appointment">

        <div class="container wow fadeInUp">

            <div class="row">

                <div class="col-lg-6 col-md-6 hidden-sm hidden-xs"> 

                    <figure class="appointment-img">
                        <img src="../assets/images/login.jpg" alt="appointment image">
                    </figure>
                </div> <!--  end col-lg-6  -->


                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 

                    <div class="appointment-form-wrapper text-center clearfix">
                        <h3 class="join-heading">AVILABLE FOR DONATE</h3>
                        <form class="appoinment-form"> 
                          
                            <div class="form-group col-md-12">
                               Name:-Bharat Kumar<br>
                               Blood Group:-A+<br>
                               Mobile No:-9470604370<br>
                               Address:-Manyata Tech Park<br><br>
                            </div>
                            
                                                                                 

                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <button id="btn_submit" class="btn-submit" type="submit">CONFIRM</button>
                                <button id="btn_submit" class="btn-submit" type="submit">NOT YET</button>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                               
                            </div>

                        </form>

                    </div> <!-- end .appointment-form-wrapper  -->

                </div> <!--  end .col-lg-6 -->

            </div> <!--  end .row  -->

        </div> <!--  end .container -->

    </section>  <!--  end .appointment-section  -->



        <!-- Footer Start-->
        
</body>
