    
 
 <header class="main-header clearfix">

        <div class="top-bar clearfix">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-8 col-sm-12">

                        <p>Welcome to blood donation center.</p>

                    </div>

                    <div class="col-md-4 col-sm-12" style="text-align:right;padding-right:30px">
                        <div class="top-bar-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>   
                    </div> 

                </div>

            </div> <!--  end .container -->

        </div> <!--  end .top-bar  -->

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="navbar navbar-light bg-light ">
    <a class="navbar-brand" href="index2.html">
      <img src="../assets/images/logo.jpg" width="200" height="50" alt="Logo"/>
    </a>
  </nav>
 
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/blood-donation']"><b class="menuItem">Home</b> <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item dropdown nav-item">
                    <a class="nav-link  menuItem" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      User
                    </a>
                    <div class="dropdown-menu menuItem" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item menuItem" href="profile.html">Profile</a>
                      <a class="dropdown-item menuItem" href="askForBlood.html">Request For Blood</a>
                      <a class="dropdown-item menuItem" href="change_password.html">Change Password</a>
                      <a class="dropdown-item menuItem" [routerLink]="['/blood-donation']">Logout</a>
                    </div>
                  </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/aboutus','user']"><b class="menuItem">Gallery</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/notification']"><b class="menuItem">Notification</b></a>
      </li>
      
    </ul>
    
  </div>
</nav>

        </header> <!-- end main-header  -->



